Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2022-10, with the labels that each got.

#70 cleaned up site and added sign up for conference
  .github/workflows/build-and-deploy-prod-gh-pages.yml
  .github/workflows/firebase-hosting-pull-request.yml
  src/components/conference/Hero/index.js
  src/components/conference/Hero/styles.module.css
  src/components/conference/Theme/index.js
  src/components/conference/Theme/styles.module.css
  src/components/conference/ThemeCard/index.js
  src/components/conference/ThemeCard/styles.module.css
  src/components/conference/Title/styles.module.css
  src/components/conference/Waitlist/index.js
  src/components/conference/Waitlist/styles.module.css
  src/css/custom.css
  src/pages/conf.js
  static/conf/calendar-star-thin.svg
  static/conf/calendar-star.png
  static/conf/codey-surfing-small.png
  static/conf/deep-dive.png
  static/conf/expert-advice.png
  static/conf/virtual.png
  static/conf/workshops.png
Labels: Pages, Components, CSS

#78 fixed links to connector rules management.
  products/idn/docs/identity-now/rules/connector-rules/index.md
Labels: Docs, IdentityNow, Rules Docs

#82 Added resource to References
  products/idn/docs/identity-now/transforms/operations/replace.md
Labels: Docs, IdentityNow, Transform Docs

#86 updated documentation for connector spec file
  products/idn/docs/identity-now/saas-connectivity/connector-spec.md
Labels: Docs, IdentityNow, SaaS Connectivity Docs

#87 removed invalid type for description
  products/idn/docs/identity-now/saas-connectivity/connector-spec.md
Labels: Docs, IdentityNow, SaaS Connectivity Docs

#89 fixed docs referencing postman
  products/idn/api/getting-started.md
Labels: Docs, IdentityNow
