Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2022-11, with the labels that each got.

#92 Add product documentation to nav bar
  footer.js
  navbar.js
Labels: Footer, Navbar

#94 Update doc to detail default value as required
  products/idn/docs/identity-now/transforms/operations/lookup.md
Labels: Docs, IdentityNow, Transform Docs

#95 Update lookup.md
  products/idn/docs/identity-now/transforms/operations/lookup.md
Labels: Docs, IdentityNow, Transform Docs

#102 Update date-compare.md
  products/idn/docs/identity-now/transforms/operations/date-compare.md
Labels: Docs, IdentityNow, Transform Docs

#103 Removed reference to Goessner in ETS filter docs
  products/idn/docs/identity-now/event-triggers/filtering-events.md
  products/idn/docs/identity-now/event-triggers/img/jsonpath-editor.png
Labels: Docs, IdentityNow, Event Trigger Docs

#99 upgraded to Docusaurus 2.2.0, added mermaid diagrams
  docusaurus.config.js
  package-lock.json
  package.json
  products/idn/api/authentication.md
  products/idn/docs/identity-now/transforms/index.md
  static/api-specs/iiq/swagger.json
Labels: Docs, IdentityNow, Transform Docs, Docusaurus Config

#113 rename sp conn to sail conn
  products/idn/docs/identity-now/saas-connectivity/common-cli-commands.md
  products/idn/docs/identity-now/saas-connectivity/in-depth/debugging.md
  products/idn/docs/identity-now/saas-connectivity/in-depth/logging.md
  products/idn/docs/identity-now/saas-connectivity/prerequisites.md
  products/idn/docs/identity-now/saas-connectivity/test-build-deploy.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#117 Fix/developer days
  src/components/conference/Hero/index.js
  src/components/conference/Hero/styles.module.css
  src/components/conference/Theme/index.js
  src/components/conference/Waitlist/index.js
  src/components/conference/Waitlist/styles.module.css
  src/pages/conf.js
  static/conf/LearnBuildDeploy-Light.png
  static/conf/SailPoint-Shipyard-DeveloperConference-Logo-dark.png
  static/conf/SailPoint-Shipyard-DeveloperConference-Logo.png
  static/conf/WaveBackground.png
Labels: Pages, Components, CSS
