Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2022-09, with the labels that each got.

#36 simplified tags for transform operations
  products/idn/docs/identity-now/transforms/operations/account-attribute.md
  products/idn/docs/identity-now/transforms/operations/base64-decode.md
  products/idn/docs/identity-now/transforms/operations/base64-encode.md
  products/idn/docs/identity-now/transforms/operations/concatenation.md
  products/idn/docs/identity-now/transforms/operations/conditional.md
  products/idn/docs/identity-now/transforms/operations/date-compare.md
  products/idn/docs/identity-now/transforms/operations/date-format.md
  products/idn/docs/identity-now/transforms/operations/date-math.md
  products/idn/docs/identity-now/transforms/operations/decompose-diacritical-marks.md
  products/idn/docs/identity-now/transforms/operations/e164-phone.md
  products/idn/docs/identity-now/transforms/operations/first-valid.md
  products/idn/docs/identity-now/transforms/operations/generate-random-string.md
  products/idn/docs/identity-now/transforms/operations/get-end-of-string.md
  products/idn/docs/identity-now/transforms/operations/get-reference-identity-attribute.md
  products/idn/docs/identity-now/transforms/operations/identity-attribute.md
  products/idn/docs/identity-now/transforms/operations/index-of.md
  products/idn/docs/identity-now/transforms/operations/index.md
  products/idn/docs/identity-now/transforms/operations/iso-3166.md
  products/idn/docs/identity-now/transforms/operations/last-index-of.md
  products/idn/docs/identity-now/transforms/operations/left-pad.md
  products/idn/docs/identity-now/transforms/operations/lookup.md
  products/idn/docs/identity-now/transforms/operations/lower.md
  products/idn/docs/identity-now/transforms/operations/name-normalizer.md
  products/idn/docs/identity-now/transforms/operations/random-alphanumeric.md
  products/idn/docs/identity-now/transforms/operations/random-numeric.md
  products/idn/docs/identity-now/transforms/operations/reference.md
  products/idn/docs/identity-now/transforms/operations/replace-all.md
  products/idn/docs/identity-now/transforms/operations/replace.md
  products/idn/docs/identity-now/transforms/operations/right-pad.md
  products/idn/docs/identity-now/transforms/operations/rule.md
  products/idn/docs/identity-now/transforms/operations/split.md
  products/idn/docs/identity-now/transforms/operations/static.md
  products/idn/docs/identity-now/transforms/operations/substring.md
  products/idn/docs/identity-now/transforms/operations/trim.md
  products/idn/docs/identity-now/transforms/operations/upper.md
  products/idn/docs/identity-now/transforms/operations/username-generator.md
  products/idn/docs/identity-now/transforms/operations/uuid-generator.md
Labels: Docs, IdentityNow, Transform Docs

#38 Feature/docs change test
  products/idn/sidebar.js
  src/pages/index.js
Labels: IdentityNow, Sidebar, Pages

#39 added google tag manager plugin and gtag code
  package-lock.json
  package.json
  plugins.js
Labels: Plugins

#47 changed first info admonition
  products/idn/docs/identity-now/index.mdx
Labels: Docs, IdentityNow, Introduction Doc

#43 Feature/rule docs
  .github/bot.yml
  products/idn/docs/identity-now/event-triggers/index.md
  products/idn/docs/identity-now/rules/cloud-rules/account_profile_attribute_generator.md
  products/idn/docs/identity-now/rules/cloud-rules/account_profile_attribute_generator_from_template.md
  products/idn/docs/identity-now/rules/cloud-rules/before_provisioning_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/correlation_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/generic_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/identity_attribute_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/index.md
  products/idn/docs/identity-now/rules/cloud-rules/manager_correlation_rule.md
  products/idn/docs/identity-now/rules/connector-rules/before_after_operation_rule.md
  products/idn/docs/identity-now/rules/connector-rules/build_map_rule.md
  products/idn/docs/identity-now/rules/connector-rules/index.md
  products/idn/docs/identity-now/rules/connector-rules/jdbc_build_map_rule.md
  products/idn/docs/identity-now/rules/connector-rules/jdbc_provision_rule.md
  products/idn/docs/identity-now/rules/connector-rules/sap_buildmap_rule.md
  products/idn/docs/identity-now/rules/connector-rules/sap_hr_provisioning_modify_rule.md
  products/idn/docs/identity-now/rules/connector-rules/web_services_after_operation_rule.md
  products/idn/docs/identity-now/rules/connector-rules/web_services_before_operation_rule.md
  products/idn/docs/identity-now/rules/idn_rule_utility.md
  products/idn/docs/identity-now/rules/img/cloud_execution.png
  products/idn/docs/identity-now/rules/img/connector_execution.png
  products/idn/docs/identity-now/rules/img/rule_execution.png
  products/idn/docs/identity-now/rules/index.md
Labels: Docs, IdentityNow, Event Trigger Docs, Rules Docs

#58 Update connector doc to include free formatter link
  products/idn/docs/identity-now/rules/connector-rules/index.md
Labels: Docs, IdentityNow, Rules Docs

#48 upgraded to latest version
  .github/workflows/build-and-deploy-prod-gh-pages.yml
  README.md
  docusaurus.config.js
  package-lock.json
  package.json
  plugins.js
Labels: Docusaurus Config, Plugins

#60 Feature/conf adding the conference site and fixed links
  .github/workflows/firebase-hosting-pull-request.yml
  docusaurus.config.js
  package-lock.json
  package.json
  products/idn/api/authentication.md
  products/idn/docs/identity-now/index.mdx
  products/idn/docs/identity-now/rules/cloud-rules/index.md
  products/idn/docs/identity-now/rules/connector-rules/index.md
  products/idn/docs/identity-now/saas-connectivity/postman-collection.md
  products/idn/docs/identity-now/transforms/guides/temporary-password.md
  src/components/conference/Hero/index.js
  src/components/conference/Hero/styles.module.css
  src/components/conference/SpeakerCard/index.js
  src/components/conference/SpeakerCard/styles.module.css
  src/components/conference/Speakers/index.js
  src/components/conference/Speakers/styles.module.css
  src/components/conference/Theme/index.js
  src/components/conference/Theme/styles.module.css
  src/components/conference/ThemeCard/index.js
  src/components/conference/ThemeCard/styles.module.css
  src/components/conference/Title/index.js
  src/components/conference/Title/styles.module.css
  src/components/conference/Waitlist/index.js
  src/components/conference/Waitlist/styles.module.css
  src/css/custom.css
  src/pages/_conf.js
  src/pages/index.js
  src/theme/NotFound.js
  static/api-specs/iiq/swagger.json
  static/conf/LearnBuildDeploy-Light.png
  static/conf/SailPoint-Shipyard-DeveloperConference-Logo-dark.png
  static/conf/SailPoint-Shipyard-DeveloperConference-Logo.png
  static/conf/Shipyard-WaveBackground.png
  static/conf/calendar-star.png
  static/conf/communication.svg
  static/conf/education.svg
  static/conf/leisure.svg
  static/conf/travel.svg
  static/conf/webdev.svg
  static/homepage/calendar-star.png
  static/img/SailPoint-Logo-RGB-Color-dark.png
Labels: Docs, IdentityNow, SaaS Connectivity Docs, Transform Docs, Introduction Doc, Docusaurus Config, Pages, Components, CSS, Swizzled Components, Rules Docs

#61 added blog to the navbar
  navbar.js
Labels: Navbar
