Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-12, with the labels that each got.

#435 update to fix broken colab links
  src/components/marketplace/MarketplaceCards/index.js
Labels: Components

#425 updating meet our team section to add new team members
  src/components/homepage/HomepageTeam/index.js
  static/homepage/danielle-gaitan.png
  static/homepage/darrell-thobe.png
  static/homepage/jordan-violet.png
Labels: Components

#431 Updated to fix inaccuracy
  products/idn/docs/identity-now/saas-connectivity/index.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#433 Update SDK docs
  docusaurus.config.js
  products/idn/tools/sdk/go.md
  products/idn/tools/sdk/go/creating-resources.md
  products/idn/tools/sdk/go/deleting-resources.md
  products/idn/tools/sdk/go/error-handling.md
  products/idn/tools/sdk/go/getting-started.md
  products/idn/tools/sdk/go/index.mdx
  products/idn/tools/sdk/go/pagination.md
  products/idn/tools/sdk/go/retries.md
  products/idn/tools/sdk/go/search.md
  products/idn/tools/sdk/go/updating-resources.md
  products/idn/tools/sdk/index.md
  products/idn/tools/sdk/powershell.md
  products/idn/tools/sdk/powershell/creating-resources.md
  products/idn/tools/sdk/powershell/deleting-resources.md
  products/idn/tools/sdk/powershell/error-handling.md
  products/idn/tools/sdk/powershell/getting-started.md
  products/idn/tools/sdk/powershell/index.mdx
  products/idn/tools/sdk/powershell/pagination.md
  products/idn/tools/sdk/powershell/retries.md
  products/idn/tools/sdk/powershell/search.md
  products/idn/tools/sdk/powershell/updating-resources.md
  products/idn/tools/sdk/typescript.md
  products/idn/tools/sdk/typescript/creating-resources.md
  products/idn/tools/sdk/typescript/deleting-resources.md
  products/idn/tools/sdk/typescript/error-handling.md
  products/idn/tools/sdk/typescript/getting-started.md
  products/idn/tools/sdk/typescript/index.mdx
  products/idn/tools/sdk/typescript/pagination.md
  products/idn/tools/sdk/typescript/retries.md
  products/idn/tools/sdk/typescript/search.md
  products/idn/tools/sdk/typescript/updating-resources.md
Labels: IdentityNow, Docs, Docusaurus Config

#434 update docusarus to 2.4.3
  .github/workflows/build-and-deploy-prod-gh-pages.yml
  .github/workflows/infra-deploy.yml
  package-lock.json
  package.json
  src/css/custom.css
Labels: CSS
