Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-08, with the labels that each got.

#319 devrel-993
  products/idn/docs/identity-now/saas-configuration.mdx
Labels: IdentityNow, Docs, SaaS Configuration Docs

#246 Update build_map_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/build_map_rule.md
Labels: IdentityNow, Docs, Rules Docs

#322 Update announcement banner
  docusaurus.config.js
Labels: Docusaurus Config

#328 devrel-1115
  products/idn/docs/identity-now/event-triggers/filtering-events.md
Labels: IdentityNow, Docs, Event Trigger Docs

#330 Added outlier detected ETS docs
  products/idn/docs/identity-now/event-triggers/available/outlier-detected.md
Labels: IdentityNow, Docs, Event Trigger Docs

#333 Credit the rule validator to professional services
  products/idn/docs/identity-now/rules/rule_validator.md
Labels: IdentityNow, Docs, Rules Docs

#321 Feature/patch guide
  products/idn/api/patch-requests.md
  products/idn/sidebar.js
Labels: IdentityNow, Docs, Sidebar

#334 Add MD pages for auth, getting started, and pagination for NERM
  .gitignore
  products/nerm/api/authentication.md
  products/nerm/api/getting-started.md
  products/nerm/api/pagination-metadata-filtering.md
  products/nerm/sidebar.js
Labels: Docs, Sidebar

#335 devrel-1156
  products/idn/docs/identity-now/saas-configuration.mdx
Labels: IdentityNow, Docs, SaaS Configuration Docs

#343 Added ETS docs
  products/idn/docs/identity-now/event-triggers/available/campaign-activated.md
  products/idn/docs/identity-now/event-triggers/available/campaign-ended.md
  products/idn/docs/identity-now/event-triggers/available/campaign-generated.md
  products/idn/docs/identity-now/event-triggers/available/certification-signed-off.md
  products/idn/docs/identity-now/event-triggers/available/form-submitted.md
  products/idn/docs/identity-now/event-triggers/available/img/campaign-generated-generating.png
  products/idn/docs/identity-now/event-triggers/available/img/campaign-generated-preview.png
Labels: IdentityNow, Docs, Event Trigger Docs

#342 Update rule submission text
  products/idn/docs/identity-now/rules/cloud-rules/index.md
  products/idn/docs/identity-now/rules/guides/your_first_rule.md
Labels: IdentityNow, Docs, Rules Docs

#339 Update rules with example use cases for eachh type
  products/idn/docs/identity-now/rules/cloud-rules/account_profile_attribute_generator.md
  products/idn/docs/identity-now/rules/cloud-rules/account_profile_attribute_generator_from_template.md
  products/idn/docs/identity-now/rules/cloud-rules/before_provisioning_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/build_map_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/generic_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/identity_attribute_rule.md
  products/idn/docs/identity-now/rules/cloud-rules/manager_correlation_rule.md
Labels: IdentityNow, Docs, Rules Docs
