Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-07, with the labels that each got.

#287 Update getting-started.md - Removed extra word
  products/idn/api/getting-started.md
Labels: IdentityNow, Docs

#291 Update to CLI Documentation
  products/idn/tools/cli/index.md
Labels: IdentityNow, Docs

#292 Added PowerShell SDK Manual Install Steps
  products/idn/tools/sdk/powershell.md
Labels: IdentityNow, Docs

#297 Add application as input for correlation rule
  products/idn/docs/identity-now/rules/cloud-rules/correlation_rule.md
Labels: IdentityNow, Docs, Rules Docs

#298 Update wording for transforms used in provisioning policies
  products/idn/docs/identity-now/transforms/index.md
Labels: IdentityNow, Docs, Transform Docs

#307 Marketplace update
  src/components/marketplace/MarketplaceCard/index.js
  src/components/marketplace/MarketplaceCard/styles.module.css
  src/components/marketplace/MarketplaceCardDetail/index.js
  src/components/marketplace/MarketplaceCardDetail/styles.module.css
  src/components/marketplace/MarketplaceCards/index.js
  src/components/marketplace/MarketplaceCards/styles.module.css
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/index.js
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/styles.module.css
  src/components/marketplace/MarketplaceSidebar/index.js
  src/css/custom.css
  src/pages/marketplace.js
Labels: Pages, Components, CSS

#308 Update rule docs to show how to attach to a source
  products/idn/docs/identity-now/rules/connector-rules/before_after_operation_rule.md
  products/idn/docs/identity-now/rules/connector-rules/index.md
  products/idn/docs/identity-now/rules/connector-rules/jdbc_build_map_rule.md
  products/idn/docs/identity-now/rules/connector-rules/jdbc_provision_rule.md
  products/idn/docs/identity-now/rules/connector-rules/sap_buildmap_rule.md
  products/idn/docs/identity-now/rules/connector-rules/sap_hr_provisioning_modify_rule.md
  products/idn/docs/identity-now/rules/connector-rules/web_services_after_operation_rule.md
  products/idn/docs/identity-now/rules/connector-rules/web_services_before_operation_rule.md
Labels: IdentityNow, Docs, Rules Docs

#288 Update getting-started.md -
  products/idn/api/getting-started.md
Labels: IdentityNow, Docs

#306 Stage
  package-lock.json
  package.json
  plugins.js
Labels: Plugins

#309 cleaned up the marketplace css a little
  src/components/ambassador/AmbassadorCards/index.js
  src/components/blog/BlogCards/index.js
  src/components/homepage/HomepageDiscuss/index.js
  src/components/marketplace/MarketplaceCard/index.js
  src/components/marketplace/MarketplaceCard/styles.module.css
  src/components/marketplace/MarketplaceCardDetail/index.js
  src/components/marketplace/MarketplaceCardDetail/styles.module.css
  src/components/marketplace/MarketplaceCards/index.js
  src/services/DiscourseService.js
  src/util/util.js
Labels: Components, CSS

#289 Update filtering-events.md
  products/idn/docs/identity-now/event-triggers/filtering-events.md
Labels: IdentityNow, Docs, Event Trigger Docs

#313 Fix broken link due to operationId change
  products/idn/docs/identity-now/event-triggers/filtering-events.md
Labels: IdentityNow, Docs, Event Trigger Docs

#314 Merge main into stage
  products/idn/docs/identity-now/event-triggers/filtering-events.md
  static/api-specs/idn/v3/paths/access-profile.yaml
Labels: IdentityNow, Docs, Event Trigger Docs

#312 Update IdnRuleUtil with a better description for applicationName
  products/idn/docs/identity-now/rules/idn_rule_utility.md
Labels: IdentityNow, Docs, Rules Docs

#310 Fix/trigger names update
  products/idn/docs/identity-now/event-triggers/available/access-request-decision.md
  products/idn/docs/identity-now/event-triggers/available/access-request-submitted.md
  products/idn/docs/identity-now/event-triggers/available/provisioning-completed.md
  products/idn/docs/identity-now/event-triggers/available/scheduled-search.md
Labels: IdentityNow, Docs, Event Trigger Docs

#317 Corrected Workflow in SP-CONFIG
  products/idn/docs/identity-now/saas-configuration.mdx
  static/api-specs/idn/beta/paths/sp-config-export.yaml
Labels: IdentityNow, Docs, SaaS Configuration Docs
