Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-10, with the labels that each got.

#370 updated not found message, card height, description and tags
  src/components/marketplace/MarketplaceCard/index.js
  src/components/marketplace/MarketplaceCard/styles.module.css
  src/components/marketplace/MarketplaceCards/index.js
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/index.js
  src/services/DiscourseService.js
Labels: Components, CSS

#373 Updated documentation for CLI 2.0 release changes
  products/idn/tools/cli/index.md
  products/idn/tools/cli/search.md
  products/idn/tools/cli/set.md
  products/idn/tools/cli/spconfig.md
  products/idn/tools/cli/transforms.md
  products/idn/tools/cli/va.md
Labels: IdentityNow, Docs

#374 Updated link to IIQ product docs
  navbar.js
Labels: Navbar

#320 Tools/rule development kit
  navbar.js
  products/idn/tools/rule-development-kit/assets/intellisense.png
  products/idn/tools/rule-development-kit/index.md
Labels: IdentityNow, Docs, Navbar

#376 Fix navigation order
  navbar.js
  products/idn/tools/rule-development-kit/index.md
  products/idn/tools/sdk/index.md
Labels: IdentityNow, Docs, Navbar

#372 Fixed typo on the word "involvement"
  products/idn/api/authentication.md
Labels: IdentityNow, Docs

#378 Update idn_rule_utility.md
  products/idn/docs/identity-now/rules/idn_rule_utility.md
Labels: IdentityNow, Docs, Rules Docs

#379 Feature/secure data share docs
  products/idn/docs/identity-now/access-intelligence-center/audit-er-diagram.md
  products/idn/docs/identity-now/access-intelligence-center/identity-er-diagram.md
  products/idn/docs/identity-now/access-intelligence-center/index.md
  products/idn/docs/identity-now/access-intelligence-center/videos.md
  products/idn/docs/identity-now/secure-data-share/audit-er-diagram.md
  products/idn/docs/identity-now/secure-data-share/identity-er-diagram.md
  products/idn/docs/identity-now/secure-data-share/index.md
  src/components/MermaidViewer.js
  src/components/Video.js
  src/components/styles.module.css
  static/icons/house-regular.svg
  static/icons/magnifying-glass-minus-regular.svg
  static/icons/magnifying-glass-plus-regular.svg
Labels: IdentityNow, Docs, Components, CSS

#381 Remove validator
  products/idn/docs/identity-now/rules/rule_validator.md
Labels: IdentityNow, Docs, Rules Docs

#380 devrel-1213
  products/idn/tools/sdk/powershell.md
Labels: IdentityNow, Docs

#385 Update link to the rule validator
  products/idn/docs/identity-now/rules/guides/your_first_rule.md
Labels: IdentityNow, Docs, Rules Docs

#382 Fixed typo
  products/idn/docs/identity-now/secure-data-share/index.md
Labels: IdentityNow, Docs

#387 Update index.md
  products/idn/docs/identity-now/secure-data-share/index.md
Labels: IdentityNow, Docs

#390 updated docs to better display functionality
  products/idn/docs/identity-now/saas-connectivity/connector-commands/source-data-discover.md
  products/idn/docs/identity-now/saas-connectivity/connector-commands/source-data-read.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#391 Fix table formatting on PowerShell SDK page
  products/idn/tools/sdk/powershell.md
Labels: IdentityNow, Docs

#392 fixed simple bugs
  src/components/blog/BlogCard/index.js
  src/services/DiscourseService.js
  static/icons/ExpertAmbassador.svg
Labels: Components

#394 Update standard-collection-parameters.md
  products/idn/api/standard-collection-parameters.md
Labels: IdentityNow, Docs

#395 Update docusaurus.config.js
  docusaurus.config.js
Labels: Docusaurus Config

#396 Update link.md - Added table row for clarity
  products/idn/docs/identity-now/saas-connectivity/connector-customizers/link.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#402 added docs for the allow list
  products/idn/docs/identity-now/img/postman1.PNG
  products/idn/docs/identity-now/img/postman2.PNG
  products/idn/docs/identity-now/ip-address-allow-list.md
Labels: IdentityNow, Docs
