Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-06, with the labels that each got.

#259 devrel-953, 964, 965
  products/idn/docs/identity-now/saas-configuration.mdx
Labels: IdentityNow, Docs, SaaS Configuration Docs

#261 Feature/marketplace
  navbar.js
  package-lock.json
  package.json
  src/components/blog/BlogBanner/index.js
  src/components/blog/BlogBanner/styles.module.css
  src/components/blog/BlogCard/index.js
  src/components/blog/BlogCard/styles.module.css
  src/components/blog/BlogCards/index.js
  src/components/blog/BlogCards/styles.module.css
  src/components/blog/BlogSidebar/BlogSidebarButton/index.js
  src/components/blog/BlogSidebar/BlogSidebarButton/styles.module.css
  src/components/blog/BlogSidebar/index.js
  src/components/blog/BlogSidebar/styles.module.css
  src/components/homepage/DiscussCard/index.js
  src/components/marketplace/MarketplaceBanner/index.js
  src/components/marketplace/MarketplaceBanner/styles.module.css
  src/components/marketplace/MarketplaceCard/index.js
  src/components/marketplace/MarketplaceCard/styles.module.css
  src/components/marketplace/MarketplaceCardDetail/index.js
  src/components/marketplace/MarketplaceCardDetail/styles.module.css
  src/components/marketplace/MarketplaceCards/index.js
  src/components/marketplace/MarketplaceCards/styles.module.css
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/index.js
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/styles.module.css
  src/components/marketplace/MarketplaceSidebar/index.js
  src/components/marketplace/MarketplaceSidebar/styles.module.css
  src/css/custom.css
  src/pages/blog.js
  src/pages/blog.module.css
  src/pages/marketplace.js
  src/pages/marketplace.module.css
  src/services/DiscourseService.js
  static/blog/Identity-Security-Cloud-Platform.png
  static/blog/blog_banner_template.png
  static/blog/caret-down-thin.svg
  static/blog/clock-light.svg
  static/blog/comment-light.svg
  static/blog/comment-regular.svg
  static/blog/eye-regular.svg
  static/blog/marketplace_banner_template.png
  static/blog/watch-light.svg
  static/icons/SailPoint-LogoIcon-RGB-Color.svg
  static/icons/circle-xmark-regular.svg
  static/icons/discourse.svg
  static/icons/github.svg
Labels: Navbar, Pages, Components, CSS

#262 Added link to connector commands
  products/idn/docs/identity-now/saas-connectivity/connector-spec/index.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#264 added state command to docs
  products/idn/docs/identity-now/saas-connectivity/connector-commands/account-list.md
  products/idn/docs/identity-now/saas-connectivity/connector-commands/entitlement-list.md
  src/components/blog/BlogBanner/index.js
  src/components/blog/BlogBanner/styles.module.css
  src/components/marketplace/MarketplaceBanner/index.js
  src/components/marketplace/MarketplaceBanner/styles.module.css
  static/blog/blog_banner_template.png
  static/blog/marketplace_banner_template.png
Labels: IdentityNow, Docs, SaaS Connectivity Docs, Components, CSS

#265 Update index.md
  products/idn/docs/identity-now/transforms/index.md
Labels: IdentityNow, Docs, Transform Docs

#254 updated node version in requirements
  products/idn/docs/identity-now/saas-connectivity/prerequisites.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#269 Feature/ambassador
  src/components/ambassador/AmbassadorBanner/index.js
  src/components/ambassador/AmbassadorBanner/styles.module.css
  src/components/ambassador/AmbassadorCard/index.js
  src/components/ambassador/AmbassadorCard/styles.module.css
  src/components/ambassador/AmbassadorCards/index.js
  src/components/ambassador/AmbassadorCards/styles.module.css
  src/components/blog/BlogSidebar/index.js
  src/components/blog/BlogSidebar/styles.module.css
  src/components/homepage/HomepageBasics/styles.module.css
  src/components/homepage/HomepageGettingStarted/styles.module.css
  src/components/homepage/HomepageTeam/styles.module.css
  src/components/marketplace/MarketplaceSidebar/styles.module.css
  src/css/custom.css
  src/pages/ambassador.js
  src/pages/ambassador.module.css
  src/services/DiscourseService.js
  static/ambassador/Ambassador-Program-Banner.png
  static/ambassador/AmbassadorBadge-Pink-Hex.png
  static/ambassador/AmbassadorBadge-QuadGrad-Squircle.png
  static/ambassador/ambassador_banner_template.png
  static/icons/Ambassador.svg
  static/icons/ExpertAmbassador.svg
  static/icons/calendar-clock-light.svg
  static/icons/square-check-regular.svg
Labels: Pages, Components, CSS

#271 Update authentication.md - Fixed misspelled word
  products/idn/api/authentication.md
Labels: IdentityNow, Docs

#267 Update index.md - Removed redundant wording
  products/idn/docs/identity-now/rules/index.md
Labels: IdentityNow, Docs, Rules Docs

#268 Update identity_attribute_rule.md - Fixed comment punctuation
  products/idn/docs/identity-now/rules/cloud-rules/identity_attribute_rule.md
Labels: IdentityNow, Docs, Rules Docs

#270 Update postman-collections.md - Added Environment Fork link
  products/idn/api/postman-collections.md
Labels: IdentityNow, Docs

#275 Update IDN Rule index.md - Added Beanshell Mention
  products/idn/docs/identity-now/rules/index.md
Labels: IdentityNow, Docs, Rules Docs

#274 updated css to handle dynamic card sizing
  src/components/ambassador/AmbassadorCard/styles.module.css
Labels: Components, CSS

#276 Feature/connectivity pre reqs
  products/idn/docs/identity-now/saas-connectivity/prerequisites.md
  src/components/ambassador/AmbassadorCard/styles.module.css
  src/components/ambassador/AmbassadorCards/index.js
  src/css/custom.css
Labels: IdentityNow, Docs, SaaS Connectivity Docs, Components, CSS

#278 Update videos.md
  products/idn/docs/identity-now/saas-connectivity/videos.md
Labels: IdentityNow, Docs, SaaS Connectivity Docs

#277 Added Beanshell Github link
  products/idn/docs/identity-now/transforms/index.md
Labels: IdentityNow, Docs, Transform Docs

#279 devrel-995
  products/idn/docs/identity-now/saas-configuration.mdx
Labels: IdentityNow, Docs, SaaS Configuration Docs

#280 switch filter to be AND instead of OR
  src/components/ambassador/AmbassadorCards/index.js
  src/components/blog/BlogCards/index.js
  src/components/marketplace/MarketplaceCards/index.js
  src/components/marketplace/MarketplaceSidebar/MarketplaceSidebarButton/index.js
  src/components/marketplace/MarketplaceSidebar/index.js
  src/pages/marketplace.js
  src/services/DiscourseService.js
Labels: Pages, Components
