Repository sailpoint-oss/developer.sailpoint.com, pull requests merged in 2023-05, with the labels that each got.

#243 added announcement bar for Java Rules docs
  docusaurus.config.js
  package-lock.json
  src/css/custom.css
Labels: Docusaurus Config, CSS

#245 Devrel 643
  products/idn/docs/identity-now/transforms/guides/provisioning-policy-transform.md
Labels: IdentityNow, Docs, Transform Docs

#181 Replaced fictional char names in example.
  products/idn/docs/identity-now/event-triggers/available/provisioning-action-completed.md
Labels: IdentityNow, Docs, Event Trigger Docs

#247 Template Documentation
  products/idn/tools/cli/Templates/report.md
  products/idn/tools/cli/Templates/search.md
  products/idn/tools/cli/Templates/spconfig.md
Labels: IdentityNow, Docs

#251 Added service account guide to API docs
  products/idn/api/img/service-accounts/account-schema.png
  products/idn/api/img/service-accounts/create-identity-profile.png
  products/idn/api/img/service-accounts/download-schema.png
  products/idn/api/img/service-accounts/import-accounts.png
  products/idn/api/img/service-accounts/imported-account.png
  products/idn/api/img/service-accounts/invite.png
  products/idn/api/img/service-accounts/login.png
  products/idn/api/img/service-accounts/mappings.png
  products/idn/api/postman-collections.md
  products/idn/api/rate-limit.md
  products/idn/api/service-accounts.md
  products/idn/api/standard-collection-parameters.md
  products/idn/sidebar.js
Labels: IdentityNow, Docs, Sidebar

#244 Feature/saas configuration backup
  products/idn/docs/identity-now/index.mdx
  products/idn/docs/identity-now/saas-configuration.mdx
Labels: IdentityNow, Docs, SaaS Configuration Docs, Introduction Doc

#252 Update standard-collection-parameters.md
  products/idn/api/standard-collection-parameters.md
Labels: IdentityNow, Docs

#253 Edited service accounts doc.
  products/idn/api/service-accounts.md
Labels: IdentityNow, Docs

#256 Fix/transform limit
  products/idn/docs/identity-now/transforms/index.md
Labels: IdentityNow, Docs, Transform Docs

#257 Feature/authentication guide
  products/idn/api/authentication.md
Labels: IdentityNow, Docs
